<div class="container">
  <div class="col-md-12">
    <h2>
      <a href="https://www.linkedin.com/in/patrickarsh" target="_blank">
          <%= fa_icon "linkedin" %>
      </a>
      <a href="https://github.com/flyptkarsh" target="_blank">
        <%= fa_icon "github" %>
      </a>
      <a href="https://www.facebook.com/ptkarsh" target="_blank">
        <%= fa_icon "facebook" %>
      </a>
      <a href="http://www.patrickarsh.io/contact" target="_blank">
        <%= fa_icon "envelope" %>
      </a>
    </h2>
    <small>
      <%= t('.copyright', :year => Time.now.year, :site_name => Refinery::Core.site_name) %>
    </small>
  </div>
</div>
